<app-dock mode="projects"></app-dock>
<p-dataView #dv [alwaysShowPaginator]="false" [paginator]="true" [rows]="5" [value]="projects"
            emptyMessage="You haven't created any projects.">
    <ng-template let-projects pTemplate="list">
        <div class="grid grid-nogutter">
            <div *ngFor="let project of projects" class="col-12">
                <a [routerLink]="['/editor', project.id]" (click)="openProject(project)" class="text-reset">
                    <div class="card mb-3">
                        <div class="row align-items-center p-2">
                            <div class="col-9">
                                <div class="flex flex-column" style="margin-left: 3rem;">
                                    <h6 class="mb-1">
                                        {{ project.name }}
                                    </h6>
                                    <span class="text-muted small" *ngIf="project.lastOpened">
                Last opened: {{ project.lastOpened | date:'MMM dd, yyyy \'at\' HH:mm' }}
              </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ng-template>

</p-dataView>


<p-dialog [(visible)]="createNewProjectDialogVisible" [draggable]="true"
          [resizable]="true" [style]="{ width: '75vw', }" header="Create project">
    <app-create-project-form></app-create-project-form>

    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" accept=".json">

</p-dialog>
