<app-dock mode="projects"></app-dock>
<p-dataView #dv [value]="projects" [rows]="5" [paginator]="true" [alwaysShowPaginator]="false"
            emptyMessage="You haven't created any projects.">
  <ng-template pTemplate="list" let-projects>
    <div class="grid grid-nogutter">
      <div class="col-12" *ngFor="let project of projects">
        <!-- Card Container -->
        <div class="card mb-3">
          <!-- Row for content alignment -->
          <div class="row align-items-center p-2">
            <!-- Project Name and Last Opened Date -->
            <div class="col">
              <div class="flex flex-column">
                <!-- Project Name with a link (you can adjust the href as needed) -->
                <h6 class="mb-1">
                  <a href="#!" class="text-reset">{{ project.name }}</a>
                </h6>
                <!-- Last opened date -->
                <span class="text-muted small">
                                Last opened: {{ project.lastOpened | date:'medium' }}
                            </span>
              </div>
            </div>
            <!-- Actions and Price -->
            <div class="col-auto">
              <div class="flex flex-row gap-2">
                <!-- Button to open project -->
                <p-button label="Open" styleClass="border-round p-button-outlined" (onClick)="openProject(project)"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>


<p-dialog header="Create project" [(visible)]="createNewProjectDialogVisible" [modal]="true"
          [style]="{ width: '50vw' }" [draggable]="true" [resizable]="true">
  <app-create-project-form></app-create-project-form>

</p-dialog>
