
  <app-item-form #itemForm
                 [(formData)]="item"
                 [mode]="'update'">
  </app-item-form>
  <app-relationship-table [relationships]="relationships"
                          [item]="item"></app-relationship-table>


<div class="flex flex-wrap gap-3 justify-content-center mt-5">
  <p-button (onClick)="saveChanges()" [outlined]="true" class="mr-3"
            label="Save Changes"></p-button>
  <p-button (onClick)="cancelChanges()" [outlined]="true" label="Cancel" severity="secondary"></p-button>
</div>
