<div class="row justify-content-center">
  <div class="col-4">
    <p-tabView [(activeIndex)]="activeTabIndex">
      <p-tabPanel header="Login">
        <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
          <div class="form-group">
            <label for="loginName">Email</label>
            <input type="text" id="loginName" name="login" pInputText class="form-control" [(ngModel)]="email" />
          </div>

          <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" id="loginPassword" name="password" pInputText class="form-control" [(ngModel)]="password" />
          </div>

          <button type="submit" class="btn btn-primary btn-block mb-4 mt-2">Sign in</button>
        </form>
      </p-tabPanel>

      <p-tabPanel header="Register">
        <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" name="firstName" pInputText class="form-control" [(ngModel)]="firstName" />
          </div>

          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" name="lastName" pInputText class="form-control" [(ngModel)]="lastName" />
          </div>

          <div class="form-group">
            <label for="registerLogin">Username</label>
            <input type="text" id="registerLogin" name="login" pInputText class="form-control" [(ngModel)]="email" />
          </div>

          <div class="form-group">
            <label for="registerPassword">Password</label>
            <input type="password" id="registerPassword" name="password" class="form-control" [(ngModel)]="password" />
          </div>

          <button type="submit" class="btn btn-primary btn-block mb-3 mt-2">Register</button>
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
