.rete {
  position: relative;
  width: 80vw;
  height: 80vh;
  font-size: 1rem;
  background: white;
  margin: 1em;
  border-radius: 1em;
  text-align: left;
  border: 3px solid #3277d5;
}

.progressSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30%;
}
