<div class="rete" #rete>
  <div [hidden]="loading"> <p-progressSpinner></p-progressSpinner> </div>
</div>
<p-sidebar [(visible)]="sidebarVisible"
           [modal]="false"
           [closeOnEscape]="true"

           position="right"
           styleClass="p-sidebar-md">
  <ng-template pTemplate="header">
    <p class="text-2xl"> {{this.openedItem.id + "           "}}         <span class="font-medium">{{openedItemTitle}}</span></p>
  </ng-template>
  <app-item-info-view *ngIf="this.openedItem"  [item]="openedItem" (toggleVisible)="onItemInfoViewToggleVisible($event)"></app-item-info-view>

</p-sidebar>
