.dock {
  width: 100%;
  display: flex;
  align-items: center;
}

.menuItem {
  text-decoration: none;
  align-content: center;
  align-self: center;
}

.user-menu {
  position: absolute;

  top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none !important;
}
