<form [formGroup]="settingsForm" (ngSubmit)="submitForm()" class="app-form">
  <div class="form-field">
    <label for="projectName">Name</label>
    <input id="projectName" formControlName="projectName" pInputText />
  </div>
  <div class="form-field">
    <label for="repoName">Repository name</label>
    <input id="repoName" formControlName="repoName" pInputText />
  </div>
  <div class="form-field">
    <label for="accessToken">VCS token</label>
    <input id="accessToken" formControlName="accessToken" pInputText />
  </div>

  <p-button label="Save" type="submit" [disabled]="settingsForm.invalid"></p-button>

</form>
