<form (ngSubmit)="onSubmit()" [formGroup]="projectForm" class="project-form">
    <div class="form-field">
        <label for="name">Project name:</label>
        <input class="input-text" formControlName="name" id="name" pInputText type="text">
        <p>
            <small *ngIf="form['name'].errors?.['required'] && form['name'].touched" class="text-danger">
                Project name is required.
            </small>
        </p>
    </div>
    <div class="form-field">
        <label for="repoUrl">Repository URL (from GitHub):</label>
        <input class="input-text" formControlName="repoUrl" id="repoUrl" pInputText type="text">
        <p>
            <small *ngIf="form['repoUrl'].errors?.['required'] && form['repoUrl'].touched" class="text-danger">
                Repository URL is required.
            </small>
        </p>
    </div>
    <div class="form-field">
        <label for="accessToken">Repository access token:</label>
        <input class="input-text" formControlName="accessToken" id="accessToken" pInputText type="text">
        <p>
            <small *ngIf="form['accessToken'].errors?.['required'] && form['accessToken'].touched" class="text-danger">
                Access token is required.
            </small>
        </p>
    </div>
    <div #container>
        <p-orderList #orderList
                     [dragdrop]="true" [listStyle]="{ height: '20rem' }" [value]="levelsArray" header="Project Levels">
            <ng-template pTemplate="header">
                <p>Project levels</p>
                <span class="font-normal">Arrange the levels in the desired order of hierarchy.<br> <span
                        class="text-warning font-semibold">You will not be able to change the levels once the project has been created.</span> </span>
                <p *ngIf="levels.errors?.['minLevels']" class="text-danger">
                    Error: at least 3 levels are required.
                </p>
                <p *ngIf="levels.errors?.['missingCode']" class="text-danger">
                    Error: level for code items with name "Code" is required.
                </p>
                <p *ngIf="levels.errors?.['missingTest']" class="text-danger">
                    Error: level for test items with name "Test" is required.
                </p>
                <p *ngIf="levels.errors?.['duplicateNames']" class="text-danger">
                    Error: level names must be unique.
                </p>
                <p *ngIf="levels.errors?.['duplicateColors']" class="text-danger">
                    Error: level colors must be unique.
                </p>
            </ng-template>
            <ng-template let-levelCtrl pTemplate="item">
                <div [formGroup]="levelCtrl" class="flex flex-wrap p-1 align-items-center gap-3 overlay">
                    <input (mousedown)="$event.stopPropagation()" formControlName="name" pInputText type="text"/>
                    <div class="align-content-center justify-content-center">
                        <ngx-colors class="mx-2" formControlName="color" ngx-colors-trigger
                                    style="display: inline-block;"></ngx-colors>
                        <p-button (onClick)="addLevel(getIndex(levelCtrl) + 1)" [outlined]="true" [rounded]="true" icon="pi pi-plus"
                                  severity="primary" size="small"
                                  styleClass="mx-2 delete-button rounded-5"/>
                        <p-button (onClick)="deleteLevel(levelCtrl)" *ngIf="canAddDeleteButton(levelCtrl)" [outlined]="true"
                                  [rounded]="true" icon="pi pi-times" severity="danger"
                                  size="small" styleClass="mx-2 delete-button rounded-5"/>
                    </div>
                </div>
                <p>
                    <small *ngIf="levelCtrl.errors && levelCtrl.touched" class="text-danger">
                        Fill required information about the level.
                    </small>
                </p>
            </ng-template>
        </p-orderList>
    </div>
    <div class="flex gap-4 justify-content-center align-content-center">
        <p-button (click)="setDefaultLevels()" [text]="true" label="Set default BABOK levels" severity="secondary"/>
        <button class="submit-btn" type="submit">Create project</button>
    </div>
</form>
